@use 'sass:map';
@use 'variables' as *;

@mixin mq($canvas) {
  @if map.has-key($breakpoints, $canvas) {
    @media (min-width: map.get($breakpoints, $canvas)) {
      @content;
    }
  } @else if type-of($canvas) == 'number' {
    @media (min-width: $canvas) {
      @content;
    }
  } @else {
    @error "Breakpoint #{$canvas} is not defined.";
  }
}

@mixin flex($justify: center, $align: center, $direction: row, $gap: 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

